<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techwarriors.mav_admin">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TripDetails"
            android:label="@string/title_activity_trip_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewTripDetails"
            android:label="@string/title_activity_view_trip_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddDriver"
            android:label="@string/title_activity_add_driver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditDriverDetails"
            android:label="@string/title_activity_edit_driver_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverSearch"
            android:label="@string/title_activity_driver_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangeDriverStatus"
            android:label="@string/title_activity_change_driver_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmDriver"
            android:label="@string/title_activity_confirm_driver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchAndEdit"
            android:label="@string/title_activity_search_and_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayingTripDetails"
            android:label="@string/title_activity_displaying_trip_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>